/*-------------------------------------------The starting*/
#start_game{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    padding:0 75px;
} 

#start_game p{
    font-size: large;
}

/*-------------------------------------------Game*/
#game{
    display: none;
}

img {
    width:100%;
    height: auto;
    object-fit: cover; /*Ensures the image covers the cover without extra space */
    display:none; 
}

#btn{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#input{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width: 900px){
    img {
        width:100%;
        height: 90vh;
        object-fit: contain; /*Ensures the image covers the contain without extra space */
    }
}