/*-------------------------------------------The starting*/
#start_game{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    padding:0 75px;
} 

#start_game p{
    font-size: large;
}

.waves-effect {
    overflow: visible;
}

#description{
    position:absolute;  
    bottom: 50px;
    text-align: center;
}

/*-------------------------------------------Game*/
#game{
    display: none;
}

img {
    width:100%;
    height: auto;
    object-fit: cover; /*Ensures the image covers the cover without extra space */
    display:none; 
}

#btn{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#uncover{
    margin-left:20px;
    background-color: brown;
}

#input{
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

/*-------------------------------------------Description*/

#description-p{
    text-align: center;
    border: 2px solid;
    background-color: black;
    margin-top: 120px;
    color: #fff;
    line-height:39px;
    font-size: larger;
}

@media(max-width: 900px){
    img {
        width:100%;
        height: 90vh;
        object-fit: contain; /*Ensures the image covers the contain without extra space */
    }
}

@media(max-width: 375px){
    #input{
        width: 50%;
    }
}